body {
    font-family: 'Gowun Batang', serif;
    background-color: #817738;
    color: #160c5b;
    align-items: center;
    text-align: center; 
    flex-direction: column;
}

main {
    width: 50vw;
    margin: 0 auto;
}

figure {
    max-width: 160px;
    max-height: 160px;
    margin: 0 auto;
    padding: 20px;
}

figure img {
    width: 100%;
    border-radius: 50%;
}

p {
    text-align: justify;
}

/* removendo estilos padrão do navegador */
h1, h2, p, ul {
    margin: 0;
    padding: 0;

}

section {
    padding: 20px 0
}

.card {
    width: 160px;
    padding: 10px;
    border: 1px solid #FF91AF;
    border-radius: 6px;
}

.card ul li {
    margin-bottom: 6px;
    list-style: none;
}

section ul {
    list-style: none;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 10px;
}

section p{
    text-align: center;
}

@media (max-width: 690px) {
    body {
        background-color: rgb(187, 74, 159);
    }

    main {
        width: 94vw;
    }
}